* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #000;
}

.ant-menu-dark,
.ant-menu-dark .ant-menu-item-selected,
.ant-menu-dark .ant-menu-item:hover {
  background-color: #000 !important;
  color: #fff !important;
  border-bottom-color: #000 !important; /* цвет underline активного элемента */
}

.ant-menu-dark .ant-menu-item-selected {
  color: #fff !important;
}
